models/gov.us.fhimsi.lab.niem.model/trace/exchange-schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
== Generated by hyperModel (www.XMLmodeling.com) Tue Apr 05 18:58:32 EDT 2011
== Model: NewModel
== Package: exchange-schema
-->
<xsd:schema xmlns:cadojMMHTransSum="http://doj.ca.gov/niem/MMHTransSum/Document/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://doj.ca.gov/niem/MMHTransSum/Document/1.0">
  <xsd:include schemaLocation="NewModel.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Element Declarations  -->
  <!-- ================================================== -->
  <xsd:element name="CaliforniaDOJMMHTransSum" type="cadojMMHTransSum:CaliforniaDOJMMHTransSumType"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CaliforniaDOJMMHTransSumType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CaliforniaDOJMMHTransSumType">
    <xsd:sequence>
      <xsd:element name="MedicalStaff"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
