models/gov.us.fhimsi.lab.niem.model/trace/extension-schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
== Generated by hyperModel (www.XMLmodeling.com) Tue Apr 05 18:58:32 EDT 2011
== Model: NewModel
== Package: extension-schema
-->
<xsd:schema xmlns:cadoj="http://doj.ca.gov/niem/MMHTransSum/Extension/1.0" xmlns:cadojMMHTransSumcodes="http://doj.ca.gov/niem/MMHTransSum/Codes/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://doj.ca.gov/niem/MMHTransSum/Extension/1.0">
  <xsd:include schemaLocation="NewModel.xsd"/>
  <xsd:import namespace="http://doj.ca.gov/niem/MMHTransSum/Codes/1.0" schemaLocation="CopyOfCodes-schema.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Element Declarations  -->
  <!-- ================================================== -->
  <xsd:element name="Alergy" type="cadoj:AlergyType"/>
  <xsd:element name="AlergyDescription" type="TextType"/>
  <xsd:element name="AlergyRelationships" type="TextType"/>
  <xsd:element name="AlternateName" type="TextType"/>
  <xsd:element name="AppointmentDate" type="DateType"/>
  <xsd:element name="AppointmentType" type="TextType"/>
  <xsd:element name="AssistiveDevices" type="TextType"/>
  <xsd:element name="CDCIntakeFacility" type="cadoj:CDCIntakeFacilityType"/>
  <xsd:element name="CommunicableDisease" type="cadoj:CommunicableDiseaseType"/>
  <xsd:element name="CommunicableDiseaseTreatmentDate" type="TextType"/>
  <xsd:element name="CommunicableDiseaseTreatmentFlag" type="cadojMMHTransSumcodes:YesNoType"/>
  <xsd:element name="Complaint" type="cadoj:ComplaintType"/>
  <xsd:element name="ContactTelephoneNumber" type="TextType"/>
  <xsd:element name="DetentionFacility" type="cadoj:DetentionFacilityType"/>
  <xsd:element name="Diagnosis" type="cadoj:DiagnosisType"/>
  <xsd:element name="EnvironmentNeeds" type="TextType"/>
  <xsd:element name="ExchangeAgency" type="cadoj:ExchangeAgencyType"/>
  <xsd:element name="FormCompletionDate" type="DateType"/>
  <xsd:element name="Gender" type="TextType"/>
  <xsd:element name="Imunization" type="cadoj:ImunizationType"/>
  <xsd:element name="ImunizationDate" type="DateType"/>
  <xsd:element name="ImunizationType" type="TextType"/>
  <xsd:element name="Inmate" type="cadoj:InmateType"/>
  <xsd:element name="LabTest" type="cadoj:LabTestType"/>
  <xsd:element name="LabTestDate" type="DateType"/>
  <xsd:element name="LabTestName" type="TextType"/>
  <xsd:element name="LabTestResults" type="TextType"/>
  <xsd:element name="LastDoseDate" type="DateType"/>
  <xsd:element name="LastDoseTime" type="TextType"/>
  <xsd:element name="MMHTransSum" type="cadoj:MMHTransSumType"/>
  <xsd:element name="MedicalAppointment" type="cadoj:MedicalAppointmentType"/>
  <xsd:element name="MedicalConditionComments" type="TextType"/>
  <xsd:element name="MedicalDiagnosisCode" type="TextType"/>
  <xsd:element name="MedicalDiagnosisDate" type="DateType"/>
  <xsd:element name="MedicalExaminationNeededFlag" type="cadojMMHTransSumcodes:YesNoType"/>
  <xsd:element name="MedicalRecordStatus" type="TextType"/>
  <xsd:element name="MedicalRecords" type="cadoj:MedicalRecordsType"/>
  <xsd:element name="MedicalStaff" type="cadoj:MedicalStaffType"/>
  <xsd:element name="Medication" type="cadoj:MedicationType"/>
  <xsd:element name="MedicationDose" type="TextType"/>
  <xsd:element name="MedicationFrequency" type="TextType"/>
  <xsd:element name="MedicationName" type="TextType"/>
  <xsd:element name="MedicationRoute" type="TextType"/>
  <xsd:element name="MedicationStartDate" type="DateType"/>
  <xsd:element name="MedicationStopDate" type="DateType"/>
  <xsd:element name="MobilityLimitations" type="TextType"/>
  <xsd:element name="OrganizationName" type="TextType"/>
  <xsd:element name="OtherTreatmentFrequency" type="TextType"/>
  <xsd:element name="OtherTreatmentLastDate" type="DateType"/>
  <xsd:element name="OtherTreatmentStartDate" type="DateType"/>
  <xsd:element name="OtherTreatmentStopDate" type="DateType"/>
  <xsd:element name="OtherTreatmentText" type="TextType"/>
  <xsd:element name="PPD" type="cadoj:PPDType"/>
  <xsd:element name="PPDDateofLastTest" type="DateType"/>
  <xsd:element name="PPDResult" type="TextType"/>
  <xsd:element name="PersonDOJIdentification" type="IdentificationType"/>
  <xsd:element name="PersonIdentification" type="cadoj:PersonIdentificationType"/>
  <xsd:element name="PersonName" type="TextType"/>
  <xsd:element name="PhysicalNeeds" type="cadoj:PhysicalNeedsType"/>
  <xsd:element name="Pregnancy" type="cadoj:PregnancyType"/>
  <xsd:element name="PregnancyDeliveryDate" type="DateType"/>
  <xsd:element name="PregnancyStatusFlag" type="cadojMMHTransSumcodes:YesNoType"/>
  <xsd:element name="PrimaryComplaintDate" type="TextType"/>
  <xsd:element name="PrimaryComplaintDescription" type="TextType"/>
  <xsd:element name="PrimaryComplaintStatus" type="TextType"/>
  <xsd:element name="PsychiatricDiagnosisCode" type="TextType"/>
  <xsd:element name="PsychiatricDiagnosisDate" type="DateType"/>
  <xsd:element name="SecondaryComplaintDate" type="TextType"/>
  <xsd:element name="SecondaryComplaintDescription" type="TextType"/>
  <xsd:element name="SecondaryComplaintStatus" type="TextType"/>
  <xsd:element name="Signature" type="cadoj:SignatureType"/>
  <xsd:element name="SignatureDate" type="xsd:dateTime"/>
  <xsd:element name="TypeOfHousing" type="TextType"/>
  <xsd:element name="Xray" type="cadoj:XrayType"/>
  <xsd:element name="XrayDate" type="DateType"/>
  <xsd:element name="XrayResult" type="TextType"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  AlergyType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="AlergyType">
    <xsd:sequence>
      <xsd:element ref="cadoj:AlergyDescription"/>
      <xsd:element ref="cadoj:AlergyRelationships"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CDCIntakeFacilityType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CDCIntakeFacilityType">
    <xsd:sequence>
      <xsd:element ref="cadoj:OrganizationName"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CommunicableDiseaseType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CommunicableDiseaseType">
    <xsd:sequence>
      <xsd:element ref="cadoj:CommunicableDiseaseTreatmentFlag"/>
      <xsd:element ref="cadoj:CommunicableDiseaseTreatmentDate"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ComplaintType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ComplaintType">
    <xsd:sequence>
      <xsd:element ref="cadoj:PrimaryComplaintDate"/>
      <xsd:element ref="cadoj:PrimaryComplaintDescription"/>
      <xsd:element ref="cadoj:PrimaryComplaintStatus"/>
      <xsd:element ref="cadoj:SecondaryComplaintDate"/>
      <xsd:element ref="cadoj:SecondaryComplaintDescription"/>
      <xsd:element ref="cadoj:SecondaryComplaintStatus"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DetentionFacilityType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DetentionFacilityType">
    <xsd:sequence>
      <xsd:element ref="cadoj:OrganizationName"/>
      <xsd:element ref="cadoj:TypeOfHousing"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DiagnosisType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DiagnosisType">
    <xsd:sequence>
      <xsd:element ref="cadoj:MedicalDiagnosisCode"/>
      <xsd:element ref="cadoj:MedicalDiagnosisDate"/>
      <xsd:element ref="cadoj:PsychiatricDiagnosisCode"/>
      <xsd:element ref="cadoj:PsychiatricDiagnosisDate"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ExchangeAgencyType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ExchangeAgencyType">
    <xsd:sequence>
      <xsd:element ref="cadoj:ContactTelephoneNumber"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ImunizationType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ImunizationType">
    <xsd:sequence>
      <xsd:element ref="cadoj:ImunizationDate"/>
      <xsd:element ref="cadoj:ImunizationType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  InmateType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="InmateType">
    <xsd:sequence>
      <xsd:element name="PersonBirthDate"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  LabTestType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="LabTestType">
    <xsd:sequence>
      <xsd:element ref="cadoj:LabTestName"/>
      <xsd:element ref="cadoj:LabTestDate"/>
      <xsd:element ref="cadoj:LabTestResults"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MMHTransSumType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MMHTransSumType">
    <xsd:sequence>
      <xsd:element ref="cadoj:MedicalExaminationNeededFlag"/>
      <xsd:element ref="cadoj:FormCompletionDate"/>
      <xsd:element ref="cadoj:MedicalConditionComments"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MedicalAppointmentType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MedicalAppointmentType">
    <xsd:sequence>
      <xsd:element ref="cadoj:AppointmentDate"/>
      <xsd:element ref="cadoj:AppointmentType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MedicalRecordsType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MedicalRecordsType">
    <xsd:sequence>
      <xsd:element ref="cadoj:MedicalRecordStatus"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MedicalStaffType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MedicalStaffType">
    <xsd:sequence>
      <xsd:element ref="cadoj:PersonName"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MedicationType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="MedicationType">
    <xsd:sequence>
      <xsd:element ref="cadoj:LastDoseDate"/>
      <xsd:element ref="cadoj:LastDoseTime"/>
      <xsd:element ref="cadoj:MedicationDose"/>
      <xsd:element ref="cadoj:MedicationFrequency"/>
      <xsd:element ref="cadoj:MedicationName"/>
      <xsd:element ref="cadoj:MedicationRoute"/>
      <xsd:element ref="cadoj:MedicationStartDate"/>
      <xsd:element ref="cadoj:MedicationStopDate"/>
      <xsd:element ref="cadoj:OtherTreatmentFrequency"/>
      <xsd:element ref="cadoj:OtherTreatmentLastDate"/>
      <xsd:element ref="cadoj:OtherTreatmentStartDate"/>
      <xsd:element ref="cadoj:OtherTreatmentStopDate"/>
      <xsd:element ref="cadoj:OtherTreatmentText"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PPDType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PPDType">
    <xsd:sequence>
      <xsd:element ref="cadoj:PPDDateofLastTest"/>
      <xsd:element ref="cadoj:PPDResult"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PersonIdentificationType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PersonIdentificationType">
    <xsd:sequence>
      <xsd:element ref="cadoj:PersonDOJIdentification"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PersonType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PersonType">
    <xsd:sequence>
      <xsd:element name="PersonName"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PhysicalNeedsType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PhysicalNeedsType">
    <xsd:sequence>
      <xsd:element ref="cadoj:AssistiveDevices"/>
      <xsd:element ref="cadoj:EnvironmentNeeds"/>
      <xsd:element ref="cadoj:MobilityLimitations"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PregnancyType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PregnancyType">
    <xsd:sequence>
      <xsd:element ref="cadoj:PregnancyDeliveryDate"/>
      <xsd:element ref="cadoj:PregnancyStatusFlag"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SignatureType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SignatureType">
    <xsd:sequence>
      <xsd:element name="PersonDigitizedSignatureImage"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SubjectType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="SubjectType">
    <xsd:sequence>
      <xsd:element ref="cadoj:PersonIdentification"/>
      <xsd:element name="PersonName"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  XrayType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="XrayType">
    <xsd:sequence>
      <xsd:element ref="cadoj:XrayDate"/>
      <xsd:element ref="cadoj:XrayResult"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
