models/gov.us.fhimsi.lab.niem.model/trace/jxdm.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
== Generated by hyperModel (www.XMLmodeling.com) Tue Apr 05 18:58:32 EDT 2011
== Model: NewModel
== Package: jxdm
-->
<xsd:schema xmlns:j="http://niem.gov/niem/domains/jxdm/4.0" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://niem.gov/niem/domains/jxdm/4.0">
  <xsd:import namespace="http://niem.gov/niem/niem-core/2.0" schemaLocation="niem-core.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Element Declarations  -->
  <!-- ================================================== -->
  <xsd:element name="Booking" type="j:BookingType"/>
  <xsd:element name="BookingAgencyRecordIdentification" type="nc:IdentificationType"/>
  <xsd:element name="CourtOrderSignatureMethodText" type="nc:TextType"/>
  <xsd:element name="PersonFBIIdentification" type="nc:IdentificationType"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  BookingType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="BookingType">
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="j:BookingAgencyRecordIdentification"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
