models/gov.us.fhimsi.lab.niem.model/trace/niem-core.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
== Generated by hyperModel (www.XMLmodeling.com) Tue Apr 05 18:58:32 EDT 2011
== Model: NewModel
== Package: niem-core
-->
<xsd:schema xmlns:fbi="http://niem.gov/niem/fbi/2.0" xmlns:nc="http://niem.gov/niem/niem-core/2.0" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0" xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://niem.gov/niem/niem-core/2.0">
  <xsd:import namespace="http://niem.gov/niem/structures/2.0" schemaLocation="structures.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0" schemaLocation="xsd.xsd"/>
  <xsd:import namespace="http://niem.gov/niem/fbi/2.0" schemaLocation="fbi.xsd"/>
  <!-- ================================================== -->
  <!-- =====  Attribute Declarations  -->
  <!-- ================================================== -->
  <xsd:attribute name="personNameCommentText" type="xsd:string"/>
  <!-- ================================================== -->
  <!-- =====  Element Declarations  -->
  <!-- ================================================== -->
  <xsd:element name="Address" type="nc:AddressType"/>
  <xsd:element abstract="true" name="AddressDeliveryPoint" type="xsd:anyType"/>
  <xsd:element name="AddressRecipientName" type="nc:TextType"/>
  <xsd:element abstract="true" name="AddressRepresentation" type="xsd:anyType"/>
  <xsd:element name="CaseFiling" type="nc:DocumentType"/>
  <xsd:element name="CaseTrackingID" type="niem-xsd:string"/>
  <xsd:element abstract="true" name="DateRepresentation" type="xsd:anyType"/>
  <xsd:element name="DateTime" substitutionGroup="nc:DateRepresentation" type="niem-xsd:dateTime"/>
  <xsd:element name="DocumentFiledDate" type="nc:DateType"/>
  <xsd:element name="IdentificationID" type="niem-xsd:string"/>
  <xsd:element name="LocationCityName" type="nc:ProperNameTextType"/>
  <xsd:element abstract="true" name="LocationCountry" type="xsd:anyType"/>
  <xsd:element abstract="true" name="LocationCounty" type="xsd:anyType"/>
  <xsd:element name="LocationPostalCode" type="niem-xsd:string"/>
  <xsd:element name="LocationPostalExtensionCode" type="niem-xsd:string"/>
  <xsd:element abstract="true" name="LocationState" type="xsd:anyType"/>
  <xsd:element name="Organization" type="nc:OrganizationType"/>
  <xsd:element name="OrganizationName" type="nc:TextType"/>
  <xsd:element name="Person" type="nc:PersonType"/>
  <xsd:element name="PersonAlternateName" type="nc:PersonNameType"/>
  <xsd:element name="PersonBirthDate" type="nc:DateType"/>
  <xsd:element name="PersonDigitizedSignatureImage" type="nc:ImageType"/>
  <xsd:element name="PersonFullName" type="nc:PersonNameTextType"/>
  <xsd:element name="PersonGivenName" type="nc:PersonNameTextType"/>
  <xsd:element name="PersonMaidenName" type="nc:PersonNameTextType"/>
  <xsd:element name="PersonMiddleName" type="nc:PersonNameTextType"/>
  <xsd:element name="PersonName" type="nc:PersonNameType"/>
  <xsd:element name="PersonNamePrefixText" type="nc:TextType"/>
  <xsd:element name="PersonNameSuffixText" type="nc:TextType"/>
  <xsd:element abstract="true" name="PersonSex" type="xsd:anyType"/>
  <xsd:element name="PersonSexCode" substitutionGroup="nc:PersonSex" type="fbi:SEXCodeType"/>
  <xsd:element name="PersonSurName" type="nc:PersonNameTextType"/>
  <xsd:element abstract="true" name="RoleOf" type="xsd:anyType"/>
  <xsd:element name="RoleOfPersonReference" substitutionGroup="nc:RoleOf" type="s:ReferenceType"/>
  <xsd:element name="StructuredAddress" substitutionGroup="nc:AddressRepresentation" type="nc:StructuredAddressType"/>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ActivityType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ActivityType">
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  AddressType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="AddressType">
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  BinaryType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="BinaryType">
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  CaseType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="CaseType">
    <xsd:complexContent>
      <xsd:extension base="nc:ActivityType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:CaseTrackingID"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:CaseFiling"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DateType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DateType">
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  DocumentType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="DocumentType">
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:DocumentFiledDate"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  IdentificationType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="IdentificationType">
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:IdentificationID"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ImageType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ImageType">
    <xsd:complexContent>
      <xsd:extension base="nc:BinaryType"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  OrganizationType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="OrganizationType">
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:OrganizationName"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PersonNameTextType  <<complexType>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PersonNameTextType">
    <xsd:simpleContent>
      <xsd:extension base="nc:ProperNameTextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PersonNameType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PersonNameType">
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonNamePrefixText"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonGivenName"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonMiddleName"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonSurName"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonNameSuffixText"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonMaidenName"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonFullName"/>
        </xsd:sequence>
        <xsd:attribute name="personNameCommentText" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  PersonType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="PersonType">
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonAlternateName"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonBirthDate"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:PersonSex"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ProperNameTextType  <<complexType>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ProperNameTextType">
    <xsd:simpleContent>
      <xsd:extension base="nc:TextType"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  StructuredAddressType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="StructuredAddressType">
    <xsd:complexContent>
      <xsd:extension base="s:ComplexObjectType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:AddressRecipientName"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:AddressDeliveryPoint"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:LocationCityName"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:LocationCounty"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:LocationState"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:LocationCountry"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:LocationPostalCode"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" ref="nc:LocationPostalExtensionCode"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  TextType  <<complexType>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="TextType">
    <xsd:simpleContent>
      <xsd:extension base="niem-xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
