models/archive/gov.us.fhimsi.lab.niem.model/trace/structures.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
== Generated by hyperModel (www.XMLmodeling.com) Tue Apr 05 18:58:32 EDT 2011
== Model: NewModel
== Package: structures
-->
<xsd:schema xmlns:s="http://niem.gov/niem/structures/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://niem.gov/niem/structures/2.0">
  <!-- ================================================== -->
  <!-- =====  Attribute Declarations  -->
  <!-- ================================================== -->
  <xsd:attribute name="id" type="xsd:ID"/>
  <xsd:attribute name="linkMetadata" type="xsd:IDREFS"/>
  <xsd:attribute name="metadata" type="xsd:IDREFS"/>
  <xsd:attribute name="ref" type="xsd:IDREF"/>
  <xsd:attribute name="sequenceID" type="xsd:integer"/>
  <!-- ================================================== -->
  <!-- =====  Element Declarations  -->
  <!-- ================================================== -->
  <xsd:element abstract="true" name="Augmentation" type="s:AugmentationType"/>
  <xsd:element abstract="true" name="Metadata" type="s:MetadataType"/>
  <!-- ================================================== -->
  <!-- =====  Attribute Group Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  SimpleObjectAttributeGroup  <<attributeGroup>>  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:attributeGroup name="SimpleObjectAttributeGroup">
    <xsd:attribute name="id" type="xsd:ID"/>
    <xsd:attribute name="metadata" type="xsd:IDREFS"/>
    <xsd:attribute name="linkMetadata" type="xsd:IDREFS"/>
  </xsd:attributeGroup>
  <!-- ================================================== -->
  <!-- =====  Complex Type Definitions  -->
  <!-- ================================================== -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  AugmentationType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="AugmentationType">
    <xsd:attribute name="id" type="xsd:ID"/>
    <xsd:attribute name="metadata" type="xsd:IDREFS"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ComplexObjectType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="ComplexObjectType">
    <xsd:attribute name="id" type="xsd:ID"/>
    <xsd:attribute name="metadata" type="xsd:IDREFS"/>
    <xsd:attribute name="linkMetadata" type="xsd:IDREFS"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  MetadataType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType abstract="true" name="MetadataType">
    <xsd:attribute name="id" type="xsd:ID"/>
  </xsd:complexType>
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <!--  ReferenceType  -->
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <xsd:complexType name="ReferenceType">
    <xsd:attribute name="id" type="xsd:ID"/>
    <xsd:attribute name="ref" type="xsd:IDREF"/>
    <xsd:attribute name="linkMetadata" type="xsd:IDREFS"/>
  </xsd:complexType>
</xsd:schema>
